.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-shape-1 {
  width: 589px;
  height: 625px;
  animation-duration: 3000ms;
  margin: 56px auto 0 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: -615px;
  margin-bottom: 60px;
}

.u-section-1 .u-image-1 {
  min-height: 615px;
  animation-duration: 3000ms;
  background-image: url("images/rajaniraiyn.png");
}

.u-section-1 .u-container-layout-1 {
  padding: 0 35px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 615px;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px 40px 20px 65px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  animation-duration: 3250ms;
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  margin: 54px 46px 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 36px 0 0;
}

.u-section-1 .u-image-2 {
  width: 570px;
  height: 307px;
  animation-duration: 4000ms;
  margin: 0 -33px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    width: 553px;
    height: 622px;
    margin-left: -50px;
  }

  .u-section-1 .u-image-1 {
    min-height: 562px;
    background-position: 50% 50%;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 562px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 34px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-1 .u-image-2 {
    height: 232px;
    margin-top: 2px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  };
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-1 {
    width: 436px;
    height: 459px;
    margin-top: 145px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -550px;
  }

  .u-section-1 .u-image-1 {
    min-height: 547px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 611px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 30px;
    padding-left: 60px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 36px;
    margin-left: -5px;
    margin-right: -5px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    height: 175px;
    margin-top: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  };
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1322px;
  }

  .u-section-1 .u-shape-1 {
    width: 545px;
    height: 545px;
    margin-top: 151px;
    margin-left: -18px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -558px;
  }

  .u-section-1 .u-image-1 {
    min-height: 543px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 540px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 60px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -31px;
    margin-left: -6px;
    margin-right: -6px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 37px;
    margin-right: 3px;
    margin-left: -3px;
  }

  .u-section-1 .u-image-2 {
    height: 234px;
    margin-top: 30px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  };
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 960px;
  }

  .u-section-1 .u-shape-1 {
    height: 377px;
    width: 394px;
    margin-top: 83px;
    margin-left: -27px;
    margin-right: -27px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -393px;
  }

  .u-section-1 .u-image-1 {
    min-height: 409px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 278px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    animation-duration: 3000ms;
    margin-top: -37px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 0;
    margin-left: -7px;
    margin-right: -7px;
  }

  .u-section-1 .u-image-2 {
    height: 173px;
    margin-top: 21px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  };
}.u-section-2 .u-sheet-1 {
  min-height: 1189px;
}

.u-section-2 .u-text-1 {
  font-family: Gugi;
  font-size: 3rem;
  width: 784px;
  font-weight: normal;
  margin: 25px auto 0;
}

.u-section-2 .u-list-1 {
  min-height: 1067px;
  grid-template-columns: calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px);
  grid-template-rows: auto;
  grid-gap: 20px 20px;
  margin-top: 20px;
  margin-bottom: 25px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  height: 213px;
  animation-duration: 3000ms;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  width: 225px;
  font-weight: 700;
  font-family: Baumans;
  animation-duration: 3000ms;
  margin: 20px auto 0;
}

.u-section-2 .u-line-1 {
  transform-origin: left center;
  margin: 30px auto 0 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  animation-duration: 1000ms;
  margin: 20px auto 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  height: 213px;
  animation-duration: 3000ms;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-4 {
  width: 225px;
  font-weight: 700;
  font-family: Baumans;
  animation-duration: 3000ms;
  margin: 20px auto 0;
}

.u-section-2 .u-line-2 {
  transform-origin: left center;
  margin: 30px auto 0 0;
}

.u-section-2 .u-text-5 {
  font-size: 1.5rem;
  animation-duration: 1000ms;
  margin: 20px auto 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  height: 213px;
  animation-duration: 3000ms;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-6 {
  width: 225px;
  font-weight: 700;
  font-family: Baumans;
  animation-duration: 3000ms;
  margin: 20px auto 0;
}

.u-section-2 .u-line-3 {
  transform-origin: left center;
  margin: 30px auto 0 0;
}

.u-section-2 .u-text-7 {
  font-size: 1.5rem;
  animation-duration: 1000ms;
  margin: 20px auto 0 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-image-4 {
  height: 213px;
  animation-duration: 3000ms;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-8 {
  width: 225px;
  font-weight: 700;
  font-family: Baumans;
  animation-duration: 3000ms;
  margin: 20px auto 0;
}

.u-section-2 .u-line-4 {
  transform-origin: left center;
  margin: 30px auto 0 0;
}

.u-section-2 .u-text-9 {
  font-size: 1.5rem;
  animation-duration: 1000ms;
  margin: 20px auto 0 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-image-5 {
  height: 213px;
  animation-duration: 3000ms;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-10 {
  width: 225px;
  font-weight: 700;
  font-family: Baumans;
  animation-duration: 3000ms;
  margin: 20px auto 0;
}

.u-section-2 .u-line-5 {
  transform-origin: left center;
  margin: 30px auto 0 0;
}

.u-section-2 .u-text-11 {
  font-size: 1.5rem;
  animation-duration: 1000ms;
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1002px;
  }

  .u-section-2 .u-list-1 {
    min-height: 309px;
    grid-template-columns: repeat(3, calc(33.333333333333336% - 13.3333px));
    height: auto;
  }

  .u-section-2 .u-image-1 {
    height: 169px;
    background-position: 50% 50%;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    height: 169px;
    background-position: 50% 50%;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-line-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-3 {
    height: 169px;
    background-position: 50% 50%;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-line-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-4 {
    height: 169px;
    background-position: 50% 50%;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-line-4 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-5 {
    height: 169px;
    background-position: 50% 50%;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-line-5 {
    margin-right: initial;
    margin-left: initial;
  };
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1638px;
  }

  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-list-1 {
    min-height: 711px;
    grid-template-columns: repeat(2, calc(50% - 9.999975px));
  }

  .u-section-2 .u-image-1 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-3 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-4 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-5 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  };
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-list-1 {
    min-height: 1599px;
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 347px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    height: 347px;
    margin-top: -11px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-5 {
    margin-bottom: -11px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    height: 347px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-4 {
    height: 347px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-5 {
    height: 347px;
    margin-right: initial;
    margin-left: initial;
  };
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    width: 340px;
  }

  .u-section-2 .u-list-1 {
    min-height: 1007px;
  }

  .u-section-2 .u-image-1 {
    height: 214px;
    margin-top: 11px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-3 {
    margin-bottom: -3px;
  }

  .u-section-2 .u-image-2 {
    height: 214px;
    margin-top: 11px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-5 {
    margin-bottom: -3px;
  }

  .u-section-2 .u-image-3 {
    height: 214px;
    margin-top: 11px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-7 {
    margin-bottom: -3px;
  }

  .u-section-2 .u-image-4 {
    height: 214px;
    margin-top: 11px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-9 {
    margin-bottom: -3px;
  }

  .u-section-2 .u-image-5 {
    height: 214px;
    margin-top: 11px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-11 {
    margin-bottom: -3px;
  };
}.u-section-3 .u-sheet-1 {
  min-height: 627px;
}

.u-section-3 .u-text-1 {
  font-family: Gugi;
  font-size: 3rem;
  margin: 36px auto 0;
}

.u-section-3 .u-tabs-1 {
  min-height: 480px;
  margin: 38px 0 34px;
}

.u-section-3 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-3 .u-tab-item-2 {
  margin-bottom: 0;
}

.u-section-3 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-3 .u-tab-item-3 {
  margin-bottom: 0;
}

.u-section-3 .u-tab-link-3 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-3 .u-tab-item-4 {
  margin-bottom: 0;
}

.u-section-3 .u-tab-link-4 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-3 .u-tab-pane-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  width: 420px;
  height: 367px;
  animation-duration: 1000ms;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-2 {
  animation-duration: 2000ms;
  margin: -367px 0 0 522px;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  font-size: 1.125rem;
  animation-duration: 3750ms;
  margin: 23px 0 0 522px;
}

.u-section-3 .u-text-4 {
  line-height: 1.8;
  background-image: none;
  animation-duration: 1000ms;
  margin: 27px 0 0 522px;
}

.u-section-3 .u-tab-pane-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  width: 420px;
  height: 367px;
  animation-duration: 1000ms;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-5 {
  animation-duration: 2000ms;
  margin: -367px 0 0 522px;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  font-size: 1.125rem;
  animation-duration: 3000ms;
  margin: 23px 0 0 522px;
}

.u-section-3 .u-text-7 {
  line-height: 1.8;
  background-image: none;
  animation-duration: 3000ms;
  margin: 27px 0 0 522px;
}

.u-section-3 .u-tab-pane-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-image-3 {
  width: 420px;
  height: 367px;
  animation-duration: 1000ms;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-8 {
  animation-duration: 2000ms;
  margin: -367px 0 0 522px;
}

.u-section-3 .u-text-9 {
  font-weight: 700;
  font-size: 1.125rem;
  animation-duration: 3000ms;
  margin: 23px 0 0 522px;
}

.u-section-3 .u-text-10 {
  line-height: 1.8;
  background-image: none;
  animation-duration: 3500ms;
  margin: 27px 0 0 522px;
}

.u-section-3 .u-tab-pane-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-image-4 {
  width: 420px;
  height: 367px;
  animation-duration: 1000ms;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-11 {
  animation-duration: 3000ms;
  margin: -367px 0 0 522px;
}

.u-section-3 .u-text-12 {
  font-weight: 700;
  font-size: 1.125rem;
  animation-duration: 1000ms;
  margin: 23px 0 0 522px;
}

.u-section-3 .u-text-13 {
  line-height: 1.8;
  background-image: none;
  animation-duration: 1000ms;
  margin: 27px 0 93px 522px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-3 .u-tabs-1 {
    height: auto;
    margin-top: 27px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-left: 451px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-left: 451px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    animation-duration: 3000ms;
    margin-left: 451px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-left: 451px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-left: 451px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-left: 451px;
  }

  .u-section-3 .u-text-8 {
    width: auto;
    margin-left: 451px;
  }

  .u-section-3 .u-text-9 {
    width: auto;
    margin-left: 451px;
  }

  .u-section-3 .u-text-10 {
    width: auto;
    margin-left: 451px;
  }

  .u-section-3 .u-text-11 {
    width: auto;
    margin-left: 451px;
  }

  .u-section-3 .u-text-12 {
    width: auto;
    margin-left: 451px;
  }

  .u-section-3 .u-text-13 {
    width: auto;
    margin-left: 451px;
  };
}

@media (max-width: 991px) {
  .u-section-3 .u-image-1 {
    width: 303px;
    height: 377px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -377px;
    margin-left: 330px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 330px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 330px;
  }

  .u-section-3 .u-image-2 {
    width: 303px;
    height: 377px;
  }

  .u-section-3 .u-text-5 {
    margin-top: -377px;
    margin-left: 330px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 330px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 330px;
  }

  .u-section-3 .u-image-3 {
    width: 303px;
    height: 377px;
  }

  .u-section-3 .u-text-8 {
    margin-top: -377px;
    margin-left: 330px;
  }

  .u-section-3 .u-text-9 {
    margin-left: 330px;
  }

  .u-section-3 .u-text-10 {
    margin-left: 330px;
  }

  .u-section-3 .u-image-4 {
    width: 303px;
    height: 377px;
  }

  .u-section-3 .u-text-11 {
    margin-top: -377px;
    margin-left: 330px;
  }

  .u-section-3 .u-text-12 {
    margin-left: 330px;
  }

  .u-section-3 .u-text-13 {
    margin-left: 330px;
  };
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    width: 178px;
    height: 178px;
    margin-top: 129px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -305px;
    margin-left: 190px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 190px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 190px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    width: 178px;
    height: 178px;
    margin-top: 113px;
    margin-left: 12px;
  }

  .u-section-3 .u-text-5 {
    margin-top: -289px;
    margin-left: 190px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 190px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 190px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-3 {
    width: 178px;
    height: 178px;
    margin-top: 129px;
  }

  .u-section-3 .u-text-8 {
    margin-top: -305px;
    margin-left: 190px;
  }

  .u-section-3 .u-text-9 {
    margin-left: 190px;
  }

  .u-section-3 .u-text-10 {
    margin-left: 190px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-4 {
    width: 178px;
    height: 178px;
    margin-top: 96px;
  }

  .u-section-3 .u-text-11 {
    margin-top: -273px;
    margin-left: 190px;
  }

  .u-section-3 .u-text-12 {
    margin-left: 190px;
  }

  .u-section-3 .u-text-13 {
    margin-bottom: 0;
    margin-left: 190px;
  };
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-tabs-1 {
    min-height: 763px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    height: 226px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-2 {
    margin-top: 14px;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-top: 17px;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-top: 14px;
    margin-left: 0;
  }

  .u-section-3 .u-image-2 {
    height: 226px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-5 {
    margin-top: 14px;
    margin-left: 0;
  }

  .u-section-3 .u-text-6 {
    margin-top: 17px;
    margin-left: 0;
  }

  .u-section-3 .u-text-7 {
    margin-top: 14px;
    margin-left: 0;
  }

  .u-section-3 .u-image-3 {
    height: 226px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-8 {
    margin-top: 14px;
    margin-left: 0;
  }

  .u-section-3 .u-text-9 {
    margin-top: 17px;
    margin-left: 0;
  }

  .u-section-3 .u-text-10 {
    margin-top: 14px;
    margin-left: 0;
  }

  .u-section-3 .u-image-4 {
    height: 226px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-11 {
    margin-top: 14px;
    margin-left: 0;
  }

  .u-section-3 .u-text-12 {
    margin-top: 17px;
    margin-left: 0;
  }

  .u-section-3 .u-text-13 {
    margin-top: 14px;
    margin-left: 0;
  };
}.u-section-4 .u-sheet-1 {
  min-height: 750px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 65px;
  margin-bottom: 65px;
}

.u-section-4 .u-image-1 {
  min-height: 315px;
  background-image: url("images/tamilLogo.png");
  background-position: 50% 50%;
  animation-duration: 1000ms;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 315px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  animation-duration: 3000ms;
  margin: 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.125rem;
  animation-duration: 1000ms;
  margin: 20px 0 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 315px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  text-transform: uppercase;
  animation-duration: 1000ms;
  margin: 0;
}

.u-section-4 .u-text-4 {
  font-size: 1.125rem;
  animation-duration: 1000ms;
  margin: 20px 0 0;
}

.u-section-4 .u-image-2 {
  min-height: 315px;
  background-image: url("images/englishLogo.png");
  background-position: 50% 50%;
  animation-duration: 1000ms;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 640px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 0;
  }

  .u-section-4 .u-image-1 {
    min-height: 260px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 260px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 260px;
  }

  .u-section-4 .u-image-2 {
    min-height: 260px;
  };
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 518px;
  }

  .u-section-4 .u-image-1 {
    min-height: 199px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 199px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 199px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-image-2 {
    min-height: 199px;
  };
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1023px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 33px;
    margin-bottom: 33px;
  }

  .u-section-4 .u-image-1 {
    min-height: 299px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 299px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 299px;
    order: 1;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    min-height: 299px;
    order: 0;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  };
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 801px;
  }

  .u-section-4 .u-image-1 {
    min-height: 188px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-image-2 {
    min-height: 188px;
  };
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1077px;
}

.u-section-5 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 77px 38px 0;
}

.u-section-5 .u-layout-wrap-1 {
  width: 865px;
  margin: 34px auto 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 139px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 392px;
  animation-duration: 1000ms;
}

.u-section-5 .u-container-layout-2 {
  box-shadow: 10px 10px 35px 15px rgba(0,0,0,0.3);
  padding: 30px;
}

.u-section-5 .u-icon-1 {
  height: 77px;
  width: 77px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.875rem;
  margin: 18px 120px 0 0;
}

.u-section-5 .u-text-3 {
  line-height: 1.8;
  font-style: italic;
  margin: 20px 2px 0 0;
}

.u-section-5 .u-btn-1 {
  margin-left: 0;
  margin-right: 0;
  font-weight: 700;
  text-transform: uppercase;
  border-style: solid;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: none;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 421px;
  animation-duration: 1000ms;
}

.u-section-5 .u-container-layout-3 {
  box-shadow: 10px 10px 35px 15px rgba(0,0,0,0.3);
  padding: 30px;
}

.u-section-5 .u-icon-2 {
  height: 100px;
  width: 100px;
  background-image: none;
  margin: 20px auto 0 0;
}

.u-section-5 .u-text-4 {
  font-size: 1.875rem;
  margin: 18px 120px 0 0;
}

.u-section-5 .u-text-5 {
  line-height: 1.8;
  font-style: italic;
  margin: 20px 2px 0 0;
}

.u-section-5 .u-btn-2 {
  margin-left: 0;
  margin-right: 0;
  font-weight: 700;
  text-transform: uppercase;
  border-style: solid;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: none;
}

.u-section-5 .u-layout-cell-4 {
  min-height: 402px;
  animation-duration: 1000ms;
}

.u-section-5 .u-container-layout-4 {
  box-shadow: 10px 10px 35px 15px rgba(0,0,0,0.3);
  padding: 30px;
}

.u-section-5 .u-icon-3 {
  height: 85px;
  width: 108px;
  background-image: none;
  margin: 22px auto 0 10px;
}

.u-section-5 .u-text-6 {
  font-size: 1.875rem;
  margin: 18px 120px 0 0;
}

.u-section-5 .u-text-7 {
  line-height: 1.8;
  font-style: italic;
  margin: 20px 2px 0 0;
}

.u-section-5 .u-btn-3 {
  margin-left: 0;
  margin-right: 0;
  font-weight: 700;
  text-transform: uppercase;
  border-style: solid;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: none;
  font-size: 1rem;
  letter-spacing: normal;
}

.u-section-5 .u-layout-cell-5 {
  min-height: 412px;
  animation-duration: 1000ms;
}

.u-section-5 .u-container-layout-5 {
  box-shadow: 10px 10px 35px 15px rgba(0,0,0,0.3);
  padding: 30px;
}

.u-section-5 .u-icon-4 {
  height: 108px;
  width: 105px;
  background-image: none;
  margin: 8px auto 0 0;
}

.u-section-5 .u-text-8 {
  font-size: 1.875rem;
  margin: 14px 97px 0 0;
}

.u-section-5 .u-text-9 {
  line-height: 1.8;
  font-style: italic;
  margin: 20px 2px 0 0;
}

.u-section-5 .u-btn-4 {
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 0;
  margin-right: 0;
  border-style: solid;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: none;
}

.u-section-5 .u-layout-cell-6 {
  min-height: 138px;
}

.u-section-5 .u-container-layout-6 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    width: 804px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 43px;
  }

  .u-section-5 .u-btn-3 {
    font-size: 0.875rem;
    letter-spacing: 1px;
  };
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 479px;
  }

  .u-section-5 .u-text-1 {
    width: 584px;
    margin-top: 81px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
    margin-top: 48px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 116px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 326px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.5rem;
    margin-right: 48px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 350px;
  }

  .u-section-5 .u-text-4 {
    font-size: 1.5rem;
    margin-right: 48px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 335px;
  }

  .u-section-5 .u-text-6 {
    font-size: 1.5rem;
    margin-right: 48px;
  }

  .u-section-5 .u-text-7 {
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 343px;
  }

  .u-section-5 .u-text-8 {
    font-size: 1.5rem;
    margin-right: 25px;
  }

  .u-section-5 .u-text-9 {
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-6 {
    min-height: 115px;
  };
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 863px;
  }

  .u-section-5 .u-text-1 {
    width: 494px;
    margin-top: 84px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
    margin-top: 40px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 174px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 489px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 525px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-text-4 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 503px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-text-6 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 515px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-text-8 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-layout-cell-6 {
    min-height: 173px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  };
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 761px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
    margin-top: 44px;
    margin-bottom: 27px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 110px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-5 .u-text-6 {
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-5 .u-text-8 {
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-6 {
    min-height: 109px;
  };
}.u-section-6 .u-sheet-1 {
  min-height: 427px;
}

.u-section-6 .u-layout-wrap-1 {
  width: 800px;
  margin: 60px auto 59px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 306px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-icon-1 {
  height: 60px;
  width: 60px;
  margin: 0 auto;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 306px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 30px 6px;
}

.u-section-6 .u-text-1 {
  font-size: 1.25rem;
  font-style: italic;
  margin: 0;
}

.u-section-6 .u-image-1 {
  width: 244px;
  height: 59px;
  margin: 18px 18px 0 auto;
}

.u-section-6 .u-group-1 {
  width: 418px;
  min-height: 81px;
  margin: -70px 0 0 auto;
}

.u-section-6 .u-container-layout-3 {
  padding: 13px 30px 15px;
}

.u-section-6 .u-text-2 {
  font-size: 1.875rem;
  margin: 3px -21px 0 90px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-layout-cell-1 {
    min-height: 244px;
  }

  .u-section-6 .u-group-1 {
    width: 347px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-right: -10px;
  };
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 617px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 275px;
  }

  .u-section-6 .u-icon-1 {
    width: 64px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  };
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 542px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 34px;
    margin-bottom: 34px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 129px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 346px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-2 {
    margin-right: -11px;
  };
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 584px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 10px;
    margin-bottom: 10px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 108px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-group-1 {
    width: 320px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: -17px;
  };
}