@font-face {
    font-family: "Departure Mono";
    src:
      url("@/assets/fonts/DepartureMono-Regular.woff2") format("woff2"),
      url("@/assets/fonts/DepartureMono-Regular.woff") format("woff"),
      url("@/assets/fonts/DepartureMono-Regular.otf") format("opentype");
    font-feature-settings: "locl";
  }