---
// import ElasticLine from "./elastic-line";
---

<!-- <ElasticLine
  client:idle
  className="overflow-y-visible"
  releaseThreshold={50}
  strokeWidth={1}
  animateInTransition={{
    type: "spring",
    stiffness: 300,
    damping: 30,
    delay: 0.15,
  }}
/> -->
<footer
  class="sticky bottom-0 -z-10 left-0 w-full h-80 flex justify-center items-center overflow-clip"
>
  <div
    class="relative overflow-hidden w-full h-full flex justify-end px-12 text-right items-start py-12"
  >
    <div
      class="flex flex-row space-x-12 sm:pace-x-16 md:space-x-24 text-sm sm:text-lg md:text-xl"
    >
      <ul>
        <li class="hover:underline cursor-pointer"><a href="/">Home</a></li>
        <li class="hover:underline cursor-pointer"><a href="/docs">Docs</a></li>
        <li class="hover:underline cursor-pointer">
          <a href="/comps">Comps</a>
        </li>
      </ul>
      <ul>
        <li class="hover:underline cursor-pointer">
          <a href="https://github.com/rajaniraiyn">Github</a>
        </li>
        <li class="hover:underline cursor-pointer">
          <a href="https://instagram.com/rajaniraiyn">Instagram</a>
        </li>
        <li class="hover:underline cursor-pointer">
          <a href="https://twitter.com/rajaniraiyn">X (Twitter)</a>
        </li>
      </ul>
    </div>
    <h2
      class="absolute bottom-0 left-0 translate-y-1/4 text-8xl sm:text-9xl font-sans font-extrabold"
    >
      RAJANIRAIYN
    </h2>
  </div>
</footer>
