img[id^="obj-"] {
  position: absolute;
  z-index: -1;
  object-fit: contain;
  filter: drop-shadow(0 0 0.5rem transparent);
}

#obj-rocket {
  top: 40vh;
  right: 0;
  width: 25vw;
  transform: translate(100vh, 100vh);
  transition: transform 0.5s ease-out;
}

@media screen and (max-width: 600px) {
  #obj-rocket {
    display: none;
  }
}

/* More Objects will be added soon */
